name: github-actions.yml
on: 
  pull_request:
    branchs:
      -develop
    types: [ closed ]
jobs:
  create-pull-request:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: echo branch and hash
        run: |
          echo "branch name: ${GITHUB_REF#refs/heads/}"
          echo "short hash value: ${GITHUB_SHA::8}"
          echo "release branch will be: [Auto] Release/${GITHUB_REF#refs/heads/}/${GITHUB_SHA::8}"
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: pull-request
        uses: repo-sync/pull-request@v2
        with:
          destination_branch: "main"
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pr_title: "[Auto] Release/${GITHUB_REF#refs/heads/}/${GITHUB_SHA::8}"

